<!DOCTYPE html>
<html>
<head>
  <title>Cloudcast</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png"
   href= <%= image_url "cloudcast_slim_orange.png" %> />
</head>
<body>

<%= yield %>

</body>
</html>
